:root {
  /* Fonts*/
  --main-tex: "Roboto", sans-serif;
  --second-tex: "Raleway", sans-serif;

  /* Colors*/
  --color-primary: #4d5ae5;
  --color-pressed-st: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-overlay: rgba(46, 47, 66, 0.4);
  --color-hero-im-bk: #2e2f42;
  --color-white-bk: #ffffff;
  --color-modal-bk: #fcfcfc;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* outline: 1px solid tomato; */
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
body {
  margin: 0;
  font-family: var(--main-tex);
  color: var(--color-text);
  background-color: var(--color-white-bk);
}
/* mobile menu */
.mobile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.menu-toggle-open {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media only screen and (min-width: 767px) {
  .mobile {
    display: none;
  }
}
.menu-toggle-open {
  min-height: 32px;
  min-width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 24px 40px;
  background-color: var(--color-white-bk);
  z-index: 999;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  background-color: var(--color-accent);
  color: var(--color-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.mobile-menu .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-darks);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mobile-menu .link:hover,
.mobile-menu .link:focus,
.cnt .link-cnt:hover,
.cnt .link-cnt:focus {
  color: var(--color-pressed-st);
}

.mobile-menu .link.active {
  color: var(--color-pressed-st);
}

.mobile-menu .item + .item {
  margin-top: 40px;
}
.cnt {
  margin-top: auto;
}
.cnt .link-cnt {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);

  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.cnt .item-cnt + .item-cnt {
  margin-top: 40px;
}
.social-mob {
  max-width: 328px;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
.cnt .link-cnt:hover,
.cnt .link-cnt:focus {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}
.social-mob .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-primary);
  border-radius: 50%;
}
.social-mob .icon:focus,
.social-mob .icon:hover {
  background-color: var(--color-pressed-st);
}
.social-mob .label {
  fill: var(--color-light);
}

/* backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-overlay);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 392px;
  max-width: 95%;
  height: 95%;
  max-height: 584px;
  overflow: scroll;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-modal-bk);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px;
}

@media only screen and (min-width: 767px) {
  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
    min-height: 584px;
    max-height: min-content;
    height: auto;
    overflow: unset;
  }
}
@media only screen and (min-width: 1157px) {
  .modal {
    padding: 72px 24px 24px;
  }
}
.modal .btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-accent);
  color: var(--color-dark);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal .icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .btn:focus,
.modal .btn:hover {
  color: var(--color-white-bk);
  background-color: var(--color-pressed-st);
  border: none;
}
.modal .paragraf {
  font-family: var(--main-tex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 16px;
}
.call-back .form-field {
  display: flex;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
}
.call-back .form-field:not(:first-child) {
  margin-top: 8px;
}
.call-back .form-input {
  width: 100%;
  height: 40px;

  border: 1px solid var(--color-overlay);
  border-radius: 4px;

  padding-left: 38px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.call-back .form-input-cmd {
  min-height: 120px;
  width: 100%;
  margin-top: 4px;
  padding: 8px 16px;

  resize: none;
  outline: none;
  border: 1px solid var(--color-overlay);
  border-radius: 4px;
}
.call-back .form-input-cmd:placeholder-shown {
  padding: 8px 0px 0px 16px;
}
.call-back .form {
  position: relative;
  margin-top: 4px;
}
.call-back .form .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--color-dark);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
.call-back .form-input:focus,
.call-back .form-input-cmd:focus {
  border: 1px solid var(--color-primary);
  border-radius: 4px;
}
.call-back .form-input:focus + .icon {
  fill: var(--color-primary);
}

.modal .check {
  margin-top: 16px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.check .check-input {
  appearance: none;
}
.custom-check .unchecked {
  stroke: var(--color-overlay);
  fill: var(--color-white-bk);
  opacity: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checked {
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-input:checked + .custom-check > .unchecked {
  opacity: 0;
}
.check-input:checked + .custom-check > .checked {
  opacity: 1;
}
.check .text {
  color: var(--color-subtle-text);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  margin-left: 10px;
  margin-right: auto;
}
.check .link {
  color: var(--color-primary);
}
.modal .btn-send {
  display: block;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 169px;
  height: 56px;

  background-color: var(--color-primary);
  color: var(--color-white-bk);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal .btn-send:focus,
.modal .brn-send:hover {
  background-color: var(--color-pressed-st);
}
/*header*/
.head {
  min-width: 320px;
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media only screen and (max-width: 767px) {
  .main-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.logo {
  display: flex;
  margin-right: 120px;

  font-family: var(--second-tex);
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
}

@media only screen and (min-width: 1157px) {
  .logo {
    margin-right: 76px;
  }
}

.logo-item {
  color: var(--color-hero-im-bk);
}
/* menu*/
@media only screen and (min-width: 767px) {
  .navig {
    display: flex;
  }
}
.menu-nav .link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--color-darks);
  text-decoration: none;
}
.menu-nav .link:hover,
.menu-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--color-pressed-st);
}
.menu-nav {
  font-family: var(--main-tex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  display: none;
}

@media only screen and (min-width: 767px) {
  .menu-nav {
    display: flex;
  }
}

.menu-nav .item {
  margin-right: 40px;
}
.menu-nav .item:last-child {
  margin-right: 0;
}
.menu-nav .link::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background-color: var(--color-pressed-st);
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav .link.active::after {
  transform: scalex(1);
}
.menu-nav .link.active {
  color: var(--color-pressed-st);
}
/* .menu-nav .item + .item {
  margin-left: 40px;
} */
/* contacts*/
.address {
  font-style: normal;
  margin-left: auto;
  display: none;
}

@media only screen and (min-width: 767px) {
  .address {
    display: flex;
  }
}

.contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--color-text);
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

@media only screen and (min-width: 1157px) {
  .contacts {
    display: flex;
  }
  .contacts .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .contacts .item + .item {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 767px) {
  .header-nav {
    display: flex;
    align-items: center;
  }
}

/* .contacts .item + .item {
  margin-left: 40px;
} */
/*index.html*/
/*Hero image*/
.page {
  min-width: 320px;
  max-width: 1440px;
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--color-dark);
  color: var(--color-white-bk);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Hero/Dark-bg_mob@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/Dark-bg_mob@2x.png);
  }
}

@media only screen and (min-width: 429px) {
  .page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/Dark-bg_tab@1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero/Dark-bg_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 769px) {
  .page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Hero/people-office_desk@1.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Hero/people-office_desk@2.jpg);
    }
  }
}
@media only screen and (min-width: 1157px) {
  .page {
    padding: 188px 0;
  }
}

.title-logo {
  margin-bottom: 48px;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (min-width: 767px) {
  .title-logo {
    font-size: 56px;
    line-height: 1.07;
    text-transform: none;
  }
}

.page-but {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: var(--main-tex);
  background-color: var(--color-primary);
  color: white;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}
.page-but:hover,
.page-but:focus {
  background-color: var(--color-pressed-st);
}

/*section 1*/
.section-ab {
  padding: 96px 0;
}
@media only screen and (min-width: 1157px) {
  .section-ab {
    padding: 120px 0;
  }
}

.title-fr {
  margin-bottom: 8px;
  color: var(--color-dark);

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (min-width: 1157px) {
  .title-fr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.list-ab {
  display: block;
}

@media only screen and (min-width: 767px) {
  .list-ab {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .list-ab .item {
    width: calc((100% - 24px) / 2);
  }
  .title-fr {
    text-align: start;
  }
}

@media only screen and (max-width: 767px) {
  .list-ab .item:not(:first-child) {
    margin-top: 72px;
  }
}
@media only screen and (min-width: 1157px) {
  .list-ab .item {
    width: calc((100% - 3 * 24px) / 4);
  }
   {
  }
}

.list-ab .paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

@media only screen and (min-width: 1157px) {
  .list-ab .paragraf {
    font-weight: 400;
  }
}

.list-ab .icon {
  display: none;
}

@media only screen and (min-width: 1157px) {
  .list-ab .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 8px;

    border-radius: 4px;
    background-color: var(--color-light);
  }
}

/*section 2*/
.section-prod {
  padding-bottom: 120px;
  display: none;
}

@media only screen and (min-width: 1157px) {
  .section-prod {
    display: block;
  }
}

.product {
  display: flex;
}
.product .item:not(:last-child) {
  margin-right: 24px;
}
.title-ab-me {
  text-align: center;
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--color-dark);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  letter-spacing: 0.02em;
}
/*section 3*/
.team {
  padding: 96px 0;
}

@media only screen and (min-width: 1157px) {
  .team {
    padding: 120px 0;
  }
}

.team-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .team-li {
    row-gap: 72px;
  }
}

@media only screen and (min-width: 767px) {
  .team-li {
    width: calc((100%-24px) / 1);
    column-gap: 24px;
    row-gap: 64px;
  }
}

.title-team {
  text-align: center;
  margin-bottom: 72px;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-li .name {
  padding: 32px 0px;
}
.team-li .title-team-name {
  text-align: center;
  margin-bottom: 8px;

  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-li .paragraf {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.team {
  background-color: var(--color-light);
}
.team-li .item {
  background-color: var(--color-white-bk);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-li .social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-primary);
  border-radius: 50%;
}
.team-li .icon:focus,
.team-li .icon:hover {
  background-color: var(--color-pressed-st);
}
.team-li .label {
  fill: var(--color-light);
}

/* customers */
.customers {
  padding: 96px 0px;
}

@media only screen and (min-width: 1157px) {
  .customers {
    padding: 120px 0;
  }
}

.customers .title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-dark);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
  justify-content: center;
}

@media only screen and (min-width: 1157px) {
  .clients {
    column-gap: 24px;
  }
}

.clients .item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media only screen and (min-width: 767px) {
  .clients .item {
    width: 168px;
    column-gap: 24px;
  }
}

.clients .link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid #8e8f99;
  border-radius: 4px;
  border-color: var(--color-subtle-text);
  color: var(--color-subtle-text);
  padding: 16px 32px;
  height: 100%;
}
.clients .icon {
  fill: currentColor;
}
.clients .link:hover,
.clients .link:focus {
  border-color: var(--color-pressed-st);
  color: var(--color-pressed-st);
}
/*footer*/
.footer {
  padding: 96px 0;
  background-color: var(--color-dark);
  min-width: 320px;
}

@media only screen and (min-width: 1157px) {
  .footer {
    padding: 100px 0;
  }
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media only screen and (min-width: 767px) {
  .main-footer {
    width: 550px;
    justify-content: flex-start;
  }
}
@media only screen and (min-width: 1157px) {
  .main-footer {
    align-items: baseline;
    width: 100%;
  }
}
.description {
  margin-bottom: 72px;
}

@media only screen and (min-width: 767px) {
  .description {
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1157px) {
  .description {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.logo-fr {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;

  color: var(--color-primary);
  font-family: var(--second-tex);
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 767px) {
  .logo-fr {
    justify-content: normal;
  }
}

.logo-fr .logo-item {
  color: var(--color-light);
}
.fr-text {
  color: var(--color-light);
  width: 264px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.social-ft {
  margin-bottom: 72px;
}

@media only screen and (min-width: 1157px) {
  .social-ft {
    margin-bottom: 0;
    margin-right: 96px;
  }
}

.social-ft .title {
  display: flex;
  justify-content: center;

  font-family: var(--main-tex);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white-bk);
  margin-bottom: 16px;
}

@media only screen and (min-width: 767px) {
  .social-ft .title {
    justify-content: normal;
  }
}

.social-ft .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.social-ft .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 50%;
}
.social-ft .icon:focus,
.social-ft .icon:hover {
  background-color: var(--color-success);
}
.social-ft .label {
  fill: var(--color-light);
}
/* Subscribe */
.e-mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.e-mail .title {
  color: var(--color-white-bk);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.e-mail .subscribe {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 767px) {
  .e-mail {
    flex-direction: column;
  }
  .e-mail .subscribe {
    flex-wrap: nowrap;
    justify-content: normal;
  }
}

.subscribe .form-sub {
  position: relative;
  display: inline-flex;
  height: 40px;
  width: 100%;
  margin-bottom: 16px;
}

@media only screen and (min-width: 767px) {
  .subscribe .form-sub {
    width: 264px;
    margin-right: 24px;
  }
}

@media only screen and (min-width: 1157px) {
  .subscribe .form-sub {
    margin-bottom: 0;
  }
}

.form-sub .name {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  color: var(--color-white-bk);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe .form-sub:focus-within .name {
  transform: translateY(-135%);
  background-color: var(--color-dark);
}
.form-sub .form-input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-white-bk);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--color-white-bk);
  background-color: var(--color-hero-im-bk);
  padding-left: 16px;
}
.form-sub .form-input:not(:placeholder-shown) + .name {
  transform: translateY(-135%);
  background-color: var(--color-dark);
}
.subscribe .btn {
  display: inline-flex;
  width: 165px;
  height: 40px;

  background-color: var(--color-primary);
  color: var(--color-white-bk);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  justify-content: space-evenly;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.subscribe .btn:focus,
.subscribe .btn:hover {
  background-color: var(--color-pressed-st);
}
.subscribe .icon {
  fill: var(--color-white-bk);
}
/*portfolio.html*/
.portfolio {
  padding: 48px 0;
}

@media only screen and (min-width: 767px) {
  .portfolio {
    padding: 64px 0 96px 0;
  }
}

@media only screen and (min-width: 1157px) {
  .portfolio {
    padding: 100px 0 120px 0;
  }
}

.desc {
  text-decoration: none;
}
/*filters*/
.filters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 767px) {
  .filters {
    justify-content: center;
    margin-bottom: 64px;
  }
}

/* .filters .item:last-child {
  margin-right: 0px;
} */

.filters .btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid var(--color-accent);
  background-color: var(--color-light);
  color: var(--color-primary);
  font-family: var(--main-tex);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
}
.filters .btn:hover,
.filters .btn:focus {
  background-color: var(--color-pressed-st);
  color: var(--color-white-bk);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*row*/

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 48px;
}

.row .item {
  width: 396px;
}

@media only screen and (min-width: 767px) {
  .row {
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
  }

  .row .item {
    width: calc((100% - 24px) / 2);
  }
}
@media only screen and (min-width: 1157px) {
  .row {
    row-gap: 48px;
    justify-content: center;
  }
  .row .item {
    width: calc((100% - 24px) / 3);
  }
}

/* .row .item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.row .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
} */

.row .info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.title-desc {
  margin-bottom: 8px;

  color: var(--color-hero-im-bk);
  font-family: var(--main-tex);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.desc .paragraf {
  color: var(--color-text);
  font-family: var(--main-tex);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.desc {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.row .desc:focus,
.row .desc:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/* overlay */
.row .overlay {
  position: relative;
  overflow: hidden;
}
.row .title {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 40px 32px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  background-color: var(--color-primary);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .item:focus .title,
.item:hover .title {
  transform: translateY(0%);
} */
.row .desc:focus .title,
.row .desc:hover .title {
  transform: translateY(0%);
}
